.main-editor{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    background-color: var(--primary-2);
    margin: auto;
    margin-block-end: 1.5rem;
}

.main-canvas{
    border-radius: var(--border-radius);
}

.canvas-container{
    width: min(500px, 90vw);
    height: min(500px, 90vw);
}

.tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background: var(--box-background);
    width: min(90vw, 500px);
    height: min(90vw, 500px);
    padding: 1rem;
    border-radius: var(--border-radius);
}

.tools :nth-child(n){
    justify-self: center;
}

.tools button{
    color: var(--primary-2);
    cursor: pointer;
}

#text-box{
    width: min(450px, 95%);
    height: min(60px, 15%);
    padding-inline: 1rem;
    border-radius: 999px;
    border: none;

    font-size: 1.5rem;
}

.line-tools{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.line-tools button{
    width: min(50px, 10vw);
    height: min(50px, 10vw);
    border: none;
    border-radius: var(--button-border-radius);

    transition: filter var(--button-transition);
}

.line-tools button:hover, .share-btns button:hover, .share-btns a:hover{
    filter: saturate(1.5);
}

.line-tools i{
    color: white;
    font-size: min(1.75rem, 6vw);
}

.switch-line-btn{
    background-color: hsl(192, 59%, 50%);

    box-shadow: 1px 5px 0 hsl(192, 59%, 25%), inset 0 5px 0 hsl(192, 59%, 70%);
}

.switch-line-btn i{
    text-shadow: 3px 0px 2px hsl(192, 59%, 25%);
    transform: rotate(90deg);
}

.add-line-btn{
    background-color: hsl(129, 54%, 50%);

    box-shadow: 1px 5px 0 hsl(129, 54%, 25%), inset 0 5px 0 hsl(129, 54%, 70%);
}

.add-line-btn i{
    text-shadow: 0px 3px 2px hsl(129, 54%, 25%);
}

.delete-line-btn{
    background-color: hsl(354, 70%, 50%);

    box-shadow: 1px 5px 0 hsl(354, 70%, 25%), inset 0 5px 0 hsl(354, 70%, 70%);
}

.delete-line-btn i {
    text-shadow: 0px 3px 2px hsl(354, 70%, 25%);
}

.text-tools{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    justify-content: center;
    align-items: center;

    width: min(450px, 95%);
    height: min(155px, 40%);
    background-color: #19A59F;
    padding: .5rem 1rem;
    border-radius: var(--border-radius);
}

.size-tools{
    display: flex;
    align-items: center;
    grid-column: span 2;
}

.size-tools input{
    width: min(75px, 15vw);
    height: min(50px, 10vw);
    padding: 0;
    border: none;
    border-radius: var(--button-border-radius);

    text-align: center;
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: bold;
    margin-inline: 0.25rem;
    box-shadow: var(--editor-btn-shadow);
}

.size-tools button{   
    display: flex;
    justify-content: center;
    align-items: center;

    width: min(30px, 5vw);
    height: min(30px, 5vw);
    background-color:rgba(211, 211, 211, 0.2) ;
    padding: 0;
    border: none;
    border-radius: var(--button-border-radius);

    font-size: 1.5rem;
    transition: background-color var(--button-transition);
}

.size-tools i{
    font-size: 1.25rem;
}

.size-tools button:hover{
    background-color:rgba(211, 211, 211, 0.5) ;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.font-tools{
    grid-column: 3 / -1 ;
}

.font-tools select{
    width: min(215px, 40vw);
    height: min(50px, 10vw);
    border: none;
    padding-inline: .75rem;
    border-radius: var(--button-border-radius);

    font-size: 1.5em;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: var(--editor-btn-shadow);
}

.text-color-container{
    position: relative;
}

#text-color, #text-outline{
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.text-color, .text-outline{
    display: flex;
    justify-content: center;
    align-items: center;

    width: min(50px, 12vw);
    height: min(50px, 12vw);
    background-color: rgb(255, 255, 255);
    border-radius: var(--button-border-radius);

    font-size: 1.35rem;
    cursor: pointer;
    box-shadow: var(--editor-btn-shadow);
    z-index: 10;
}

.align-btn{
    width: min(50px, 12vw);
    height: min(50px, 12vw);
    border: none;
    border-radius: var(--button-border-radius);

    box-shadow: var(--editor-btn-shadow);
}

.align-btn i{
    font-size: 1.5rem;
}

.share-btns{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;

    width: 95%;
    height: calc(95% / 9);
    /* padding: .5rem; */

}

.share-btns a, .share-btns button{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--button-border-radius);
    color: white;
    font-size: min(1.5rem, 4vw);
    font-family: Quicksand;
    transition: filter var(--button-transition);

}

.share-btns a{
    width:45% ;
    aspect-ratio: 3.5 / 1 ;
    background-color: hsl(271, 70%, 50%);

    box-shadow: 1px 5px 0 hsl(271, 70%, 25%), inset 0 4px 0 hsl(271, 70%, 70%);
    color: white;
    font-family: Quicksand;
    text-decoration: none;
    transition: filter var(--button-transition);
}

.share-btns button{
    width:45% ;
    aspect-ratio: 3.5 / 1 ;
    background-color: hsl(217, 67%, 50%);
    border: none;

    font-size: min(1.5rem, 4vw);
    box-shadow: 1px 5px 0 hsl(217, 67%, 25%), inset 0 4px 0 hsl(217, 67%, 70%);
}