main{
    width: 100vw;
    
}

.main-gallery{
    background-color: var(--primary-1);
    border-radius: var(--border-radius);
    margin-block-end: .5rem;

    padding: 1rem;
    padding-block-end: 0;
    margin: .5rem;
}


.search-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-end: 1rem;
}

.search-bar input{
    width: 100%;
    height: 55px;
    background-color: var(--primary-2);
    padding: 10px;
    padding-inline-start: 2rem;
    border: none;
    border-radius: 999px;

    font-size: 1.75em;   
    color: lightgray;

}

.frequent-words{
    display: flex;
    width: 100%;
}

.gallery{
    columns: 4 175px;
    padding-inline: 0;
}

img{
    margin-block-end: 0.75rem;
}

header{
    border-radius: 0;
    padding-inline: 50px;
    margin: 0 0 1rem;
}

.saved-memes{
    background-color: var(--primary-1);
    border-radius: var(--border-radius);
    margin: auto;
    width: 95%;
    min-height: 70vh;
}

.saved-memes-container{
    width: 95%;
    padding: 1rem;
    padding-block-end: .5rem;
    margin: auto;

    text-align: center;
}

body{
    overflow: hidden;
}