*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --box-background: linear-gradient(90deg, rgba(57,59,66,1) 0%, rgba(99,103,115,1) 50%, rgba(57,59,66,1) 100%);
    --primary-1: #383B42;
    --primary-2: #22252C;
    --border-radius:15px ;
    --button-border-radius: 7px;
    --editor-btn-shadow: 0 5px 2px 0px #3E7D7A;
    --button-transition: .3s
}

body{
    background-color: var(--primary-2);
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;

    width: 1260px;
    background-color: var(--primary-2);
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    background: linear-gradient(90deg, rgba(15,151,176,1) 0%, rgba(48,187,114,1) 100%);
    padding-inline: 50px;
    margin: 0 0 1rem;

    color: white;
}

.nav{
    display: flex;
    flex-direction: column;
}

header h2{
    cursor: pointer;
}

img{
    max-width: 100%;
    border-radius: var(--border-radius);
    margin-block-end: 0.75rem;

    box-shadow: 0px 5px 6px 0px var(--primary-2);
    cursor: pointer;
}

.hidden{
    display: none;
}

input:focus, select:focus{
    outline: 2px solid turquoise;
}